/** Define the margins of your page **/
* {
    box-sizing: border-box;
}

html {
    background: #ffffff;
}

body {
    font-family: 'Courier', 'Helvetica';
    width: 100%;
    font-size: 12px;
    text-align: left;
}

@page {
    margin: 100px 70px;
    font-size: 14px;
}

header {
    position: fixed;
    top: -60px;
    z-index: 100;
    margin-top: 120px;
}

main {
    padding-bottom: 15px;
}

footer {
    position: fixed;
    bottom: -60px;
    height: 70px;
    z-index: 100;

    text-align: center;
    line-height: 18px;
}

.signature {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    table-layout: fixed;
}

td, th {
    padding: 5px;
    text-align: center;
    table-layout: fixed;
    border: 1px solid #757575;
}

th {
    height: 18px;
}

.text-bold {
    font-weight:bold;
}

/** */
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 2px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}