/** Define the margins of your page **/
* {
    box-sizing: border-box;
}

html {
    background: #ffffff;
}

body {
    font-family: 'Droid', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    width: 100%;
    font-size: 18px;
    text-align: left;
}

@page {
    margin: 100px 70px;
}

header {
    position: fixed;
    top: -60px;
    left: 0px;
    right: 0px;
    height: 265px;
    z-index: 100;
    margin-top: 235px;
}

main {
    padding-bottom: 100px;
}

footer {
    position: fixed;
    bottom: -60px;
    left: 0px;
    right: 0px;
    height: 145px;
    z-index: 100;

    text-align: center;
    line-height: 35px;
}

.signature {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    table-layout: fixed;
}

td, th {
    padding: 6px;
    text-align: center;
    table-layout: fixed;
    border: 1px solid #757575;
}

th {
    height: 40px;
}

.text-bold {
    font-weight:bold;
}